<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Weather-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-fill">
        <li class="nav-link">
          <a class="nav-link" routerLink="/forecast">Home</a>
        </li>
        <li class="nav-link">
          <a routerLink="/today"  class="nav-link" >Today </a>
        </li>
        <li class="nav-link">
          <a class="nav-link" routerLink="/historical">Historical Data</a>
        </li>
        <li class="nav-link">
          <a routerLink="/alerts" class="nav-link" >National Weather Alerts</a>
        </li>
      </ul>
    </div>
      <form class="form-inline my-2 my-lg-0 " #zipform="ngForm" (ngSubmit)="onsubmit(zipform)">
        <input class="form-control mr-sm-2" ngModel type="text" name="zipcode" #zipcode="ngModel" required [class.is-invalid]="zipcode.invalid && zipcode.touched" pattern="(^\d{5}$)|(^\d{5}-\d{4}$)" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" [disabled]="zipform.invalid" type="submit">Search by your Zipcode</button>
        <div *ngIf="zipcode.errors && (zipcode.invalid || zipcode.touched)">
          <small class="text-danger" *ngIf="zipcode.errors['pattern']">Not a valid 5 digit zipcode</small>
      </div>
      <div *ngIf='(status == null); else elseBlock'>
        <button type="button" routerLink="/signin" class="btn btn-link"  >Sign in</button>
        <button type="button" routerLink="/create" class="btn btn-link" >Create an Account</button> 
      </div>
      <ng-template #elseBlock>
        <button type="button" (click)="logout()" class="btn btn-link"  >Logout</button>
        <button type="button" routerLink="/updatezip" class="btn btn-link"  >Update zipcode</button>
      </ng-template>
      </form>
      </nav>
  
